<!DOCTYPE html>
<html lang="nl" dir="ltr">
  <head>
    <meta charset="utf-8">
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Qups Store - Reuse to Reduce</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="/static/style.css">
  </head>
  <body>
    <header>
      <a href="{{ url_for('index') }}">Qups</a>
    </header>
    <hr>
    <div class="messages">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
          <ul>
              {% for message in messages %}
              <li>{{ message }}</li>
              {% endfor %}
          </ul>
      {% endif %}
      {% endwith %}
    </div>
    <div class="content">
      {% block content %}{% endblock %}
    </div>
    <hr>
    <footer>
      <div class="contact">
        Contact:
      </div>
      <div class="social">
        Social media:
      </div>
    </footer>
  </body>
</html>
