{% extends "base.html" %}

{% block content %}
  <img src="/static/images/cup.jpg" alt="product image" class="productimg"><br>
  <h2>Stalen beker 300 ml</h2></a>
  <h3>€5,- per stuk</h3>
  <p>
    Deze roestvrijstalen bekers zijn de ideale vervanger van plastic bekertjes. Ze zijn niet kapot te krijgen en dragen bij een een schoner milieu. <br>
    De levertijd van deze cup is 3 werkdagen na het ontvangen van de betaling.<br>
    Betalen gaat via vooraf overmaken.<br>
    Voor afhaalmogelijkheden, neem contact met ons op via <a href="mailto:qupsteam@gmail.com">qupsteam@gmail.com</a>.
  </p>
  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.aantal.label }}<br>
      {{ form.aantal() }}<br>
      {% for error in form.aantal.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
{% endblock %}
