{% extends "base.html" %}

{% block content %}
<table>
  <tr>
    <td>Aantal cups</td><td>{{ aantal }}</td>
  </tr>
  <tr>
    <td>Per stuk prijs</td><td>€{{ perstukprijs }}</td>
  </tr>
  <tr>
    <td>Verzendkosten</td><td>€{{ verzendkosten }}</td>
  </tr>
  <tr>
    <td>Totale prijs</td><td>€{{ aantal*perstukprijs+verzendkosten }}</td>
  </tr>
</table>

  <form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.voornaam.label }}<br>
      {{ form.voornaam() }}<br>
      {% for error in form.voornaam.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.achternaam.label }}<br>
      {{ form.achternaam() }}<br>
      {% for error in form.achternaam.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br>
      {{ form.email() }}<br>
      {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.adres.label }}<br>
      {{ form.adres() }}<br>
      {% for error in form.adres.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.postcode.label }}<br>
      {{ form.postcode() }}<br>
      {% for error in form.postcode.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.plaats.label }}<br>
      {{ form.plaats() }}<br>
      {% for error in form.plaats.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.submit() }}
    </p>
  </form>
{% endblock %}
